.App {
  text-align: center;
}

.login-container {
  min-height: 100vh;
  display: flex;
  background: linear-gradient(45deg, limegreen, darkblue);
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, .75);
  padding: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 50px;
  max-width: 500px;
  min-width: 300px;
}

::-webkit-scrollbar {
  width: 10px;
  background-color: rgb(30, 30, 30);
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
 
::-webkit-scrollbar-thumb {
  background: rgb(96, 96, 96);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgb(30, 30, 30); 
}

.login-input {
  padding: 5%;
  margin: 2%;
  border-radius: 10px;
  border: none;
  background-color: rgba(255, 255, 240, .75);
  width: 90%;
  transition: transform 500ms;

}

.login-input:hover {
  width: 91%;
transform: scale(1.01);
}

.login-buttons {
  padding: 5%;
  margin: 2%;
  border-radius: 15px;
  border: none;
  background-color: rgba(255, 255, 240, .75);
  font-size: 12px;
  width: 50%;
  text-align: center;
  transition: transform 500ms;

}

.login-buttons:hover {
  background-color: rgba(100, 149, 237, .75);
  width: 51%;

transform: scale(1.01);
}

.login-title {
  position: fixed;
  margin: 2%;
}

.login-fields {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.error {
  color: red;
  font-weight: bold;
}

.blog-username {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  align-content: flex-end;
}

.blog-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  box-shadow: 2px 2px 5px 2px rgba(138, 43, 226, .75);
  padding: 16px;
  border-radius: 5px;
  width: 400px;
  min-width: 100px;
  margin: 10px;  
  transition: transform 500ms;
  height: 150px;
  justify-content: space-between;
}
.user-card {
  display: flex;
  flex-direction: column;
  background-color: rgb(30, 30, 30);
  box-shadow: 2px 2px 5px 2px rgba(138, 43, 226, .75);
  padding: 16px;
  border-radius: 5px;
  width: 400px;
  min-width: 100px;
  margin: 15px;  
  transition: transform 500ms;
  height: 200px;
  justify-content: space-between;
}

.user-card:hover {
  cursor: pointer;
}

.blogs {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 50px;

}

h1, p{
  color: white;
  font-family: "Monaco", monospace;
}
h2, h4 {
  color: white;
  font-family: "Monaco", monospace;
  margin: 0;
}

.home-page {
  background-color: black;
}

hr {
  background: radial-gradient(rgb(255, 255, 255),rgb(255, 255, 255, .000001),rgba(255, 255, 255, .00001));
  border: none;
  height: 5px;
}

.nav-link {
  color: white;
  text-decoration: none;
  font-family: "Monaco", monospace;
}

.nav-link:hover {
  color:rgb(232, 204, 94);
  text-decoration: underline;
  font-family: "Monaco", monospace;
}
.blog-card:hover .blog-title{
  color: rgb(138, 43, 226);
  cursor: pointer;
}

.blog-title {
  color:rgb(232, 204, 94);
}

.blog-card:hover{
  transform: scale(1.01);
  cursor: pointer;
}
.user-card:hover{
  transform: scale(1.01);
  cursor: pointer;
}

.nav-bar .nav-link {
  margin-left: 10px;
  margin-right: 10px;
}

.nav-bar {
  background-color: rgb(30, 30, 30);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap:wrap;

}

.BlogPost-header {
  background-color: #282c34;
  min-height: 5vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  margin-bottom: 5vh;
  text-align: center;
  padding: 12px;
 }

 .wrapper-class {
  padding: 1rem;
}

.editor-class {
  background-color:lightgray;
  padding: 1rem;
  border: 1px solid #ccc;
}

.toolbar-class {
  border: 1px solid #ccc;
}

.preview {
  padding: 1rem;
  margin-top: 1rem;
}

.blog-div{
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 75%;
  margin: auto;
  background-color: rgba(204, 204, 204, .125);
  padding: 2%;
  border-radius: 5px;
  align-content: center;
}

.comment-buttons{
  display: flex;
  flex-direction: row;
  justify-content: center;
  /* justify-content: space-between; */
}

.blog-buttons{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 1%;
}

.blog-reactions{
  display: flex;
}

.blog-comments {
  background-color: rgba(204, 204, 204, .125);
  width: 55%;
  margin: auto;
  border-radius: 5px;
  padding: 1%;
  margin-bottom: 20px;
}

.comment-card {
  background-color: rgba(0, 0, 0, .75);
  box-shadow: 5px 5px 10px 5px rgba(232, 204, 94, .75);
  padding: 1%;
  width: 80%;
  margin: auto;
  margin-bottom: 20px;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.comment-form {
  background-color: rgba(0, 0, 0, .75);
  box-shadow: 5px 5px 10px 5px rgba(138, 43, 226, .75);
  padding: 1%;
  width: 40%;
  margin: auto;
  margin-bottom: 50px;
  border-radius: 5px;
  overflow-wrap: break-word;
}

.blog-like {
  width: 15px;
  height: 15px;
  margin-top: 16px;
  margin-left: 10px;
}

.blog-dislike {
  width: 15px;
  height: 15px;
  margin-top: 18px;
  transform: scale(-1, -1);
  margin-left: 10px;
  margin-right: 10px;
}

.user-blog{
  float: left;
}

.user-saves {
  float: right;
}

.profile-blogs{
  display: flex;
  justify-content: space-around;
}

.delete-button {
  padding: 0px;
  background: none;
  border: none;
  color: white;
  margin-left: auto;
  transition: transform 500ms;
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.delete-button:hover{
  color: red;
  cursor: pointer;
  transform: scale(1.01);
}

.blog-save {
  width: 25px;
  height: 25px;
  margin-top: 16px;
  margin-left: 10px;
}

.logout-button {
  background: none;
  color: white;
  border:none;
  font-family: "Monaco", monospace;
}

.logout-button:hover{
  color:rgb(232, 204, 94);
  text-decoration: underline;
  font-family: "Monaco", monospace;
}

.post-input{
  padding: 5%;
  margin: 2%;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 240, .75);
  width: 90%;
  transition: transform 500ms;
}

.post-input:hover {
  transform: scale(1.01);
}

.post-textarea:hover {
  transform: scale(1.01);
}

.post-textarea{
  padding: 5%;
  margin: 2%;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 240, .75);
  width: 90%;
  height: 100px;
  resize: none;
  transition: transform 500ms;
}

.post-form {
  display: flex;
  flex-direction: column;
  background-color: rgba(128, 128, 128, .5);
  padding: 4%;
  padding-top: 2%;
  padding-bottom: 2%;
  border-radius: 5px;
  max-width: 500px;
  min-width: 300px;
  box-shadow: 5px 5px 10px 5px rgba(138, 43, 226, .75);
}

.post-container {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.post-button{
  padding: 5%;
  margin: auto;
  border-radius: 5px;
  border: none;
  background-color: rgba(138, 43, 226, .75);
  font-size: 12px;
  width: 50%;
  transition: transform 500ms;
  color: white;
}

.post-button:hover {
  background-color: rgba(232, 204, 94, .75);
  color:black;
  transform: scale(1.01);
}

.comment-input {
  padding: 5%;
  border-radius: 5px;
  border: none;
  background-color: rgba(255, 255, 240, .75);
  width: 80%;
  transition: transform 500ms;
}

.comment-input:hover{
  transform: scale(1.01);
} 

.comment-post-button {
  padding: 5%;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  font-size: 12px;
  width: 50%;
  transition: transform 500ms;
  background-color: rgba(232, 204, 94, .75);
}

.comment-post-button:hover {
  transform: scale(1.01);
}

.load-button {
  padding: 1%;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  /* width: 15%;
  height: 15%; */
  transition: transform 500ms;
  background-color: rgba(232, 204, 94, .75);
}

.load-button:hover {
  transform: scale(1.01);
}

.delete-account-button {
  padding: 1%;
  margin: auto;
  margin-bottom: 15px;
  border-radius: 5px;
  border: none;
  /* width: 15%;
  height: 15%; */
  transition: transform 500ms;
  background-color: rgba(232, 204, 94, .75);
}

.delete-account-button:hover {
  transform: scale(1.01);
}